<template>
    <div class="container">
    <h1 class="alert alert-info">User Table</h1>
        <div class="row" v-show="!loading">
            <div class="col-md-8 offset-2">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Telephone</th>
                
            </tr>
        </thead>
        <tbody>
          
            <tr v-for="user in users" :key="user.id">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telephone}}</td>
            </tr>
         
        </tbody>
        <tfoot>
            <tr>
               <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Telephone</th>
                
            </tr>
        </tfoot>
    </table>
            </div>
        </div>
        <div class="row" v-show="!loading">
        <div class="col-md-8 offset-2">
        <hr class=" alert-warning">
        <p  class="alert-info">Showing {{parseInt(UserStatistics.per_page) * parseInt(UserStatistics.current_page)}} of {{UserStatistics.total}} User From The DataBase </p>
        <p  class="alert-info">Current Page {{UserStatistics.current_page}} of {{UserStatistics.last_page}} Pages </p>
        <nav aria-label="...">
            <ul class="pagination">
              
                <li class="page-item">
                <a class="page-link" href="#" v-on:click.prevent = "loadNext" >Next 1000</a>
                </li>
            </ul>
            </nav>

        </div>
        </div>
        <div v-show="loading">
            Loading....
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                loading: false,
                url : "/api/getusers",
                users : [] ,
                UserStatistics : {}
            }
        },
        methods : {
            loadNext(){
                this.loading = true;
                // this.url = this.UserStatistics.next_page_url;
                     axios.get(this.UserStatistics.next_page_url).then( response => {
                console.log(response.data);
                if(response.data.code == '200'){
                    var t = $('#example').DataTable();
                  response.data.users.data.forEach(user => {
                        
                t.row.add( [
                        user.firstName,
                        user.lastName,
                        user.email,
                        user.telephone
                    ] ).draw( false );
                      
                  });
                 this.UserStatistics = response.data.users;
                }else{
                }
                  this.loading = false;

            }).catch(
                err => {
                  console.log(err)
                    this.loading = false;
                }
            )
              

            },
            loadPrev(){
                this.url = this.UserStatistics.prev_page_url;
                this.getUser();
            },
            getUser(){
                axios.get(this.url).then( response => {
                console.log(response.data);
                if(response.data.code == '200'){
                  this.users = response.data.users.data;
                 this.UserStatistics = response.data.users;
                }else{
                 
                }
            }).catch(
                err => {
                  console.log(err)
                   
                }
            )
            }
        },
        mounted() {
            this.getUser();
           setTimeout(()=> {
               $(document).ready(function() {
                $('#example').DataTable();
            } );
           } , 2000);
            console.log('Component mounted.')
        }
    }
</script>
